<div *ngIf="!event.ladattu">
    <mat-spinner
            class="margin"
            [color]="primary"
            [mode]="indeterminate">
    </mat-spinner>
</div>

<div class="map" *ngIf="event.ladattu">
    <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
    >
        <agm-marker
                *ngFor="let eventti of event.eventit | duplicates: 'name.fi'"
                [markerClickable]="true"
                [label]="eventti.info"
                [latitude]="eventti.location.position.coordinates[1]"
                [longitude]="eventti.location.position.coordinates[0]">
            <agm-info-window>
                <mat-card class="event">
                    <mat-card-header>
                        <div mat-card-avatar></div>
                        <mat-card-title>{{ eventti.name.fi }}</mat-card-title>
                        <mat-card-subtitle>{{eventti.short_description.fi}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <img *ngIf="eventti.images" mat-card-image [src]="eventti.images[0].url" alt="Not available">

                    <mat-card-content>
                        <span style="color: limegreen"> {{eventti.start_time | date: 'MMM d, y, h:mm a'}}</span><br>
                        <div class="mat-row">
                            <strong>{{eventti.location.street_address.fi}}</strong><br>
                        </div>
                        <div *ngIf="eventti.info_url !== null; else elseBlock">
                            <a href="{{ eventti.info_url.fi }}" target="_blank">Tapahtuman sivuille</a>
                        </div>
                        <!--Jos tapahtumalla ei ole tapahtumalinkkiä, linkki siirtää järjestäjän sivuille -->
                        <ng-template #elseBlock>
                            <div *ngIf="eventti.location.info_url.fi">
                            <a href="{{ eventti.location.info_url.fi }}" target="_blank">Tapahtuman järjestäjän
                                sivuille</a>
                            </div>
                        </ng-template>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Save</button>
                        <button mat-button>Back</button>
                    </mat-card-actions>
                </mat-card>

            </agm-info-window>
        </agm-marker>
        <agm-circle [latitude]="lat" [longitude]="lng"
                    [radius]="75"
                    [fillColor]="'darkblue'"
                    [circleDraggable]="false"
                    [editable]="false"
        >
        </agm-circle>
    </agm-map>
</div>