.max{
  max-width: 95%;
}
mat-tab-group{
  position: fixed !important;
  width:100%;
}
.center{
  text-align: center;
}
mat-raised-button{
  line-height:50%;
  height: 50%;
}
.content{
  position:absolute !important;
}
.over_map{
  position: absolute !important;
  top: 10px;
  left: 10px;
  z-index: 109;
  max-width:25%;
}
.over_map2{
  position: absolute !important;
  right:10px;
  top:10px;
  z-index:109;
  width:30%;


}

.margin{
  margin-top: 20%;
  margin-bottom: 20%;
  background-color: gainsboro;
  opacity: 0.5;
}
#map_canvas{
  position:relative;
}
p.center{
  margin-top: 10px;
  margin-bottom: 10px;
}
agm-map{
  height:100vh;
  z-index: 19;
}
mat-expansion-panel{
  padding: 0 !important;
}
.mat-tab-labels{
  justify-content: space-around;
  background-color: indianred;
  color: white !important;
  border-top: 1px solid black;
}
.mat-tab-label-content{
  color:white;
}
mat-tab{
  color:white;
  position: fixed;
  top: 0;
  width: 100%
}
#liikuPliis{
  text-align: center;
  justify-content: center;
}
a.mat-list-item-content{
  text-align: center;
}
.test{
  vertical-align: middle;
  text-align:center;
}
a:link {
  text-decoration: none;
}
#ellipsis{
  height:100% !important;
  width:100% !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
mat-list-item{
  padding-top:10px;
  padding-bottom:10px;

}